---
import type {AgilityComponentProps} from "../../../lib/agility-cms/types/agility-component-props"
import {getPostListing} from "../../../lib/content/get-post-listing"
import PostListingClient from "./PostsListing.client"

interface Props extends AgilityComponentProps {}

const {
	pageResponse: {channelName, isPreview, languageCode},
} = Astro.props

const {posts} = await getPostListing({sitemap: channelName, isPreview, locale: languageCode, skip: 0, take: 10})
---

{
	(!posts || posts.length === 0) && (
		<div class="mt-44 px-6 flex flex-col items-center justify-center">
			<h1 class="text-3xl text-center font-bold">No posts available.</h1>
			<div class="my-10">
				<a
					href={"/"}
					class="px-4 py-3 my-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-primary-600 hover:bg-primary-500 focus:outline-none focus:border-primary-700 focus:shadow-outline-primary transition duration-300"
				>
					Return Home
				</a>
			</div>
		</div>
	)
}

<PostListingClient client:load {...{isPreview, locale: languageCode, posts, sitemap: channelName}} />
